@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-to-blue: linear-gradient(90deg, #4add81, #43b2b9, #3c88ee);
  --blue-to-lightgreen: linear-gradient(90deg, #4f81be, #3ab0d4, #39c8b7);
  --body-color: hsl(159, 49%, 93%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

body,
html {
  overflow-x: hidden;
}

body {
  background-color: var(--body-color);
}

.gradient-text,
.menu-options:hover {
  background: var(--green-to-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-options {
  position: relative;
}

.dev-gradient {
  background: var(--blue-to-lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-options::after {
  content: "";
  width: 0px;
  height: 3px;
  background: var(--green-to-blue);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

.menu-options:hover::after,
.send-btn:hover::after {
  width: 100%;
}

.canvas {
  margin-top: 40px;
  width: 100% !important;
  height: 270px !important;
  cursor: pointer;
}

.btn-styles::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7baffa;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn-styles::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn-styles:hover::before {
  opacity: 1;
}

/*--------------------About--------------------*/
.image-box {
  max-width: 320px;
  width: 100%;
  height: 420px;
  border: 3px solid #3ab0d4;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  background: url("/assets/image.png") no-repeat;
  background-size: cover;
  background-position: top -10px center;
  background-blend-mode: multiply;
  margin: auto;
  margin-top: 50px;
  animation: rounded 8s ease-in-out infinite;
}

@keyframes rounded {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

/*------------------Skills-------------------------*/
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  column-gap: 40px;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 32px;
}

.grid-techs {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7px;
}

.absolute-position {
  position: absolute;
  top: 9px;
  left: 4px;
}

.type-animation {
  background: var(--blue-to-lightgreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.875rem;
  font-weight: bold;
}

@media (min-width: 640px) {
  .canvas {
    height: 300px !important;
    max-width: 350px;
  }
}

@media (min-width: 768px) {
  .image-box {
    margin: 0;
  }
  .canvas {
    height: 350px !important;
  }

  .grid-layout {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }
  .absolute-position {
    position: absolute;
    top: 10px;
    left: 4px;
  }
}

@media (min-width: 1024px) {
  .grid-techs {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px;
  }

  .type-animation {
    font-size: 2.25rem;
  }
}

@media (min-width: 1280px) {
  .grid-layout {
    padding: 0;
  }
}
